@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,300&display=swap");

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

section {
  padding-left: 250px;
  padding-right: 250px;
}

.header {
  background-color: #1f2937;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.title-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title-nav h1 {
  font-size: 24px;
  color: #f9faf8;
}

.title-nav nav {
  display: flex;
  gap: 2em;
}

.title-nav a {
  font-size: 18px;
  color: #e5e7eb;
  text-decoration: none;
}

.title-image {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-top: 100px;
  margin-bottom: 100px;
}

.title-image div {
  width: 50%;
}

.title-image button {
  background-color: #3882f6;
  font-size: 18px;
  padding: 10px 20px;
  color: #fff;
  border: none;
  border-radius: 7px;
}

.title-image h1 {
  font-size: 48px;
  font-weight: bold;
  color: #f9faf8;
  display: inline;
}

.title-image p {
  font-size: 18px;
  color: #e5e7eb;
  word-wrap: break-word;
}

.title-image img {
  width: 500px;
  height: 230px;
  object-fit: cover;
}

.gallery {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 60px;
  margin-bottom: 60px;
}

.gallery div {
  display: flex;
}

.gallery h1 {
  font-size: 36px;
  font-weight: bolder;
  color: #1f2937;
  margin-bottom: 50px;
}

.gallery img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 20px;
}

.gallery figcaption {
  font-size: 1em;
  text-align: center;
}

.quote {
  background-color: #e5e7eb;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.quote-text {
  margin-top: 130px;
  font-size: 36px;
  font-weight: 300;
  font-style: italic;
  color: #1f2937;
  padding: 0;
}

.author {
  font-weight: bolder;
  align-self: flex-end;
  font-size: 25px;
  margin-bottom: 96px;
}

.action {
  display: flex;
  align-items: center;
  color: white;
  padding-top: 100px;
  padding-bottom: 100px;
}

.action .container {
  width: 100%;
  background-color: #3882f6;
  padding: 30px 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.action button {
  background-color: #3882f6;
  border: 2px solid #fff;
  color: inherit;
  /* height: 35px; */
  padding: 5px 30px;
  font-size: 15pt;
}
